.form {
    padding: 2rem;
    border: solid 3px rgb(18, 27, 40);
    border-radius: 4px;
   
}
.control {
    margin-bottom: .5rem;
}
.control label {
    display: block;
    font-weight: bold;
    margin-bottom: .2rem;
}

.control input,
.control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid black;
    padding: .25rem;
    width: 100%;
}

.actions {
    margin-top: 1rem;
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: #86b29b;
    color: white;
    padding: .5rem .5rem;
    border: 1px solid #b10800;
    border-radius: 4px;
    font-weight: bold;
}

.actions button:hover,
.actions button:active {
    background-color: #86b29b;
    border-color: #b10800;
}